@import "colors";
@import "utils";
@import "notifications";
@import "overrides";
@import "vars";

@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway');

body {
  background-color: $background;
  color: #0D1E2B;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

.animsition {
  width: 100%;
}

.flip-container {

  .dark {
    background: #0D1E2B;
    padding: 40px 46px;
  }

  .light {
    background: #fff;
    padding: 10px;
  }

  .card {
    box-shadow: 0 0 25px #000;
  }

  .card {
    width: 480px;

    @media (max-width: 500px) {
      width: 100%;
    }

  }

}

.green-bg {
  background-color: $green !important;
  color: #fff !important;
}
.red-bg {
  background-color: $red !important;
  color: #fff !important;

  md-icon {
    color: #fff !important;
  }

}

button {
  text-transform: none !important;

  md-icon {
    font-size: 22px !important;
  }

}

.loading {

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .logo {
    width: 78px;
    margin-bottom: 28px;
  }

  .loader-circle {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
  }

}

.sidebar {

  @include box-shadow(0 0 10px #000);
  @include transition(width);
  width: $sidebar-width;
  background: $sidebar-background;

  .sidebar-header,
  .sidebar-menu {
    width: $sidebar-width;
  }

  .sidebar-header {
    background-color: #131b21;
    padding: 14px 19px;
  }

  .sidebar-menu {
    height: 100%;
    @include gradient(#148FDC, #0D9497);
  }

  .menu {

    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff;

    > li {

      > a {

        @include transition(background-color);
        @include transition(border-right, 200ms);
        height: 63px;
        position: relative;
        z-index: 2;

        > span {
          display: none;
        }
      }
    }

    > li > a:hover,
    > li.active > a {
      background-color: rgba(0, 0, 0, 0.25);
    }

    .submenu-panel > ul,
    .submenu-panel {
      position: absolute;
      width: 280px;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      height: 100%;
      right: 0;
      z-index: 1;

      > ol {
        width: $sidebar-open-width;
      }

    }

    .submenu-panel {
      @include transition();
      opacity: 0;
      left: $sidebar-width;
      overflow: hidden;
      z-index: -1;

      > ul {
        @include transition(left);
        list-style: none;
        left: - $sidebar-width;
      }

    }

    > li.active {
      > a {
        border-right: 5px solid rgba(255, 255, 255, 0.39);
      }

      .submenu-panel {
        opacity: 1;
        width: 280px;
        z-index: 78;

        > ul {
          left: 0;
        }

      }

    }

    .submenu-title,
    .submenu-menu {
      margin: 20px;
    }

    .submenu-title {
      text-transform: uppercase;
      padding: 8px 0;
      border-bottom: 3px solid $tree-lines-color;
      margin-top: 35px;
      margin-bottom: 0;
    }

    .submenu-menu {

      margin-top: 0;
      margin-left: 25px;
      margin-right: 0;
      height: calc(100% - 73px);

      > div {
        overflow: auto;
        height: 100%;
        padding-right: 31px;
        padding-left: 5px;

        > ol {
          margin-bottom: 20px;
        }

      }

      a {
        color: inherit;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 10px 12px;
        @include border-radius(3px);
        font-weight: 100;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 8px;
      }
    }

  }

  .logout {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 13px;
  }

}

body.open {
  .sidebar {
    width: $sidebar-open-width;
  }
}

.tree,
.tree ol {
  margin:0 0 0 1em; /* indentation */
  padding:0 !important;
  list-style:none;
  position:relative;
}

.tree ol {margin-left: 20px;} /* (indentation/2) */

.tree:before,
.tree ol:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px solid $tree-lines-color;
}

.tree li {
  margin:0;
  font-weight:bold;
  position:relative;
}

.tree li:before,
.tree li:after {
  content:"";
  display:block;
  position:absolute;
}

.tree li:before {
  width:10px; /* same with indentation */
  height:0;
  border-top:1px solid $tree-lines-color;
  margin-top:-1px; /* border top width */
  top: 28px; /* (line-height/2) */
  left:0;
}

.tree li:after {
  width:3px;
  height:3px;
  border:1px solid $tree-lines-color;
  @include border-radius(100%);
  margin-top:-1px; /* border top width */
  top: 26px;
  left: -2px;
  background: $sidebar-background;
}

.tree li:last-child:before {
  background: $sidebar-background; /* same with body background */
  height:auto;
  top: 28px; /* (line-height/2) */
  bottom:0;
}

md-input-container {
  label,
  input {
    @include transition(all, 200ms);
  }
}

[dnd-list], [dnd-list] > * {
  position: relative;
  min-height: 100px;
}

.dndPlaceholder {
  background-color: #242424;
  min-height: 100px;
  min-width: 20px;
  border: 1px dashed #333;
  margin: 0 10px;
  display: block;
  position: relative;
}

.angular-ui-tree-empty {
  display: none;
}

.columns {
  flex-wrap: wrap;
}

.dndDraggingSource {
  display: none;
}

.dndDraggingSource {
  display: none;
}

.search {
  md-content {
    padding-bottom: 0;
    padding-top: 0;
  }
  md-input-container {
    margin-bottom: 0;
  }
}

.panel-tools {

  @include transition(all, 200ms);
  height: 80px;

  .tools {
    animation: slideInUp 200ms;
  }

  md-content {
    overflow: hidden;
  }

}

.config {
  overflow: hidden;
  @include transition(height, 200ms);
  @include box-shadow(inset  0  8px 8px -8px #000);
  background: #2f2f2f;
}

.panel-tools.ng-hide {
  height: 0;
  .tools {
    animation: slideOutDown 200ms;
  }
}


.node {

  @include transition(all, 200ms);
  display: flex;

  [ui-tree-handle] {
    display: flex;
    width: 35px;
    align-items: center;
    justify-content: center;
  }

}

#pages {
  .node {
    [ui-tree-handle] {
      display: none;
    }
    i {
      margin-right: 11px;
    }
  }
  .node.no-content {
    color: #b1b1b1;
    cursor: not-allowed;
  }
}

#layout {
  .node {
    [ui-tree-handle] {
      margin-left: 10px;
      margin-top: 8px;
      background: #000;
      @include border-radius(3px 0 0 3px);
    }

    > a {
      margin-left: 0;
      @include border-radius(0);
    }

    .delete {
      background: $red;
      @include border-radius(0 3px 3px 0);
    }

  }
}

.main-content {
  padding: 15px;
  position: relative;
  z-index: 3;
}

#windows {

  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
  height: 100%;

  .panel {
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.76);
    min-width: 350px;
    margin-right: 10px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    @include transition();
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 100%;

    > md-toolbar {
      border-bottom: 5px solid;
    }

  }

  [app-view-segment].ng-leave {
    display: none;
    position: absolute;
  }

  md-backdrop {
    opacity: 1;
  }

  md-list-item {
    width: 100%;

    .item-name {
      display: flex;
      justify-content: flex-start;
      line-height: 17px;
      padding: 8px 0;
      md-icon {
        margin: 0 14px 0 0;
      }
    }

  }

}

.panel {
  .angular-ui-tree-placeholder {
    background-color: #212121;
  }
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;

  .md-panel {
    background-color: #212121;
  }

  [ui-tree-handle] {
    margin-left: 15px;
  }

}

panel-dispose {
  button {
    margin-right: -8px !important;
  }
}

.panel-loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;

}

.panel-body {
  height: 100%;
  overflow: auto;
}

.panel-footer {
  a {
    display: block;
  }

  .md-toolbar-tools,
  md-toolbar {
    height: $footer-toolbar-height;
    min-height: $footer-toolbar-height;
  }

  md-toolbar {
    background-color: $panel-footer;
  }

}

.panel.small-width {
  width: 350px;
}
.panel.medium-width {
  width: 650px;
}
.panel.large-width {
  width: 100%;
  max-width: 1350px;
}

md-grid-list {
  height: 100%;
}

.table-condensed > thead > tr > th {
  padding: 0 13px 4px 13px;
}

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th {
  padding: 8px 13px 0;
}

.table > tbody > tr > td:first-child, .table > tbody > tr > th:first-child,
.table > thead > tr > th:first-child, .table > tfoot > tr > th:first-child {
  padding-left: 11px;
}

.table > tbody > tr > td:last-child, .table > tbody > tr > th:last-child,
.table > thead > tr > th:last-child, .table > tfoot > tr > th:last-child {
  padding-right: 11px;
}

md-dialog-content {
  .icon {
    text-align: center;
    margin: -24px -24px 0;

    i {
      font-size: 103px;
    }

  }
}

.keep-one {
  md-list {
    > li:first-child {

      background: #404040;

      .delete {
        display: none;
      }
    }
  }
}

[dnd-list="rows"] > * {
  border: 1px solid #333;
}

.column {
  min-height: 100px;
  border: 1px dashed #fff;
}

/**
 * Layout responsive grid
 */

[class*="col-"] {
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 4px;
  width: 100%;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.offset-0 {margin-left: 0;}
.push-0 {left: 0;}
.pull-0 {left: 0;}

.offset-1 {margin-left: 8.33%;}
.offset-2 {margin-left: 16.66%;}
.offset-3 {margin-left: 25%;}
.offset-4 {margin-left: 33.33%;}
.offset-5 {margin-left: 41.66%;}
.offset-6 {margin-left: 50%;}
.offset-7 {margin-left: 58.33%;}
.offset-8 {margin-left: 66.66%;}
.offset-9 {margin-left: 75%;}
.offset-10 {margin-left: 83.33%;}
.offset-11 {margin-left: 91.66%;}
.offset-12 {margin-left: 100%;}

.push-1 {left: 8.33%;}
.push-2 {left: 16.66%;}
.push-3 {left: 25%;}
.push-4 {left: 33.33%;}
.push-5 {left: 41.66%;}
.push-6 {left: 50%;}
.push-7 {left: 58.33%;}
.push-8 {left: 66.66%;}
.push-9 {left: 75%;}
.push-10 {left: 83.33%;}
.push-11 {left: 91.66%;}
.push-12 {left: 100%;}

.pull-1 {left: -8.33%;}
.pull-2 {left: -16.66%;}
.pull-3 {left: -25%;}
.pull-4 {left: -33.33%;}
.pull-5 {left: -41.66%;}
.pull-6 {left: -50%;}
.pull-7 {left: -58.33%;}
.pull-8 {left: -66.66%;}
.pull-9 {left: -75%;}
.pull-10 {left: -83.33%;}
.pull-11 {left: -91.66%;}
.pull-12 {left: -100%;}


.img-fluid {
  max-width: 100%;
  height: auto;
}

$squareSize: 40px;
$colorDark: rgba(27, 27, 27, 0.09);
$colorLight: rgb(115, 115, 115);

.crop-background {

  background: -webkit-linear-gradient(45deg, $colorDark 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, $colorDark 75%, $colorDark 0), -webkit-linear-gradient(45deg, $colorDark 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, $colorDark 75%, $colorDark 0), $colorLight;
  background: -moz-linear-gradient(45deg, $colorDark 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, $colorDark 75%, $colorDark 0), -moz-linear-gradient(45deg, $colorDark 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, $colorDark 75%, $colorDark 0), $colorLight;
  background: linear-gradient(45deg, $colorDark 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, $colorDark 75%, $colorDark 0), linear-gradient(45deg, $colorDark 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, $colorDark 75%, $colorDark 0), $colorLight;
  background-repeat: repeat, repeat;
  background-position: 0 0, $squareSize/2 $squareSize/2;
  -webkit-background-origin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  -webkit-background-clip: border-box, border-box;
  background-clip: border-box, border-box;
  -webkit-background-size: $squareSize $squareSize, $squareSize $squareSize;
  background-size: $squareSize $squareSize, $squareSize $squareSize;
  -webkit-box-shadow: none;

  width: 100%;
  height: 450px;
  overflow: hidden;
}

.hide-off-screen {
  position: absolute;
  left: -200%;
}

.text-dark {
  color: black;
}
.text-light {
  color: white;
}

md-dialog.fullscreen-dialog {
  max-width: 97%;
  max-height: 95%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

md-tooltip.main-menu {
  background-color: #000 !important;
  padding: 11px 24px;
  font-size: 12px;
  overflow: visible;
  position: relative;
  @include border-radius(4px);
}

md-tooltip:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #000;
  position: absolute;
  left: -8px;
  top: 50%;
  margin-top: -8px;
}

md-dialog.md-default-theme, md-dialog {
  md-toolbar {
    i {
      font-size: 35px;
    }
  }
  .md-dialog-content {

    font-size: 14px;

    h1 {
      text-transform: uppercase;
      font-weight: normal;
      font-family: 'Julius Sans One', sans-serif;
      text-align: center;
      margin: 0 0 6px;
      font-size: 20px;
    }
  }
}

[perfect-scrollbar] {
  overflow-y: hidden;
  position: relative;
}

widget {
  .md-panel {
    position: absolute;
    width: 100%;
  }
  md-card {
    position: relative;
  }
}

#layout {
  margin: 0;

  md-toolbar,
  .md-toolbar-tools {
    height: 40px;
    min-height: 40px;
  }
  md-card-content {
    padding: 8px;
  }
  h2 {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
  }

  .angular-ui-tree-placeholder {
    top: 4px;
    left: 10px;
    border: 1px dashed #009cff;
    background: #152027;
    border-radius: 3px;
  }

  .angular-ui-tree-placeholder:before {
    top: 16px;
    left: -11px;
  }
  .angular-ui-tree-placeholder:after {
    top: 14px;
    left: -13px;
  }

}

.crop-status {
  i {
    vertical-align: bottom;
  }
}


.md-success-text {
  color: $blue;
}

.md-warn-text {
  color: $yellow;
}