/* Creates a linear gradient between two colors */
/* Devuelve un color (claro u oscuro) dependiendo del fondo */
@import url("https://fonts.googleapis.com/css?family=Julius+Sans+One|Raleway");
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; }

/* Creates a linear gradient between two colors */
/* Devuelve un color (claro u oscuro) dependiendo del fondo */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; }

.ns-box {
  right: 0; }
  .ns-box .ns-thumb {
    height: 50px;
    width: 50px;
    font-size: 25px;
    text-align: center; }
    .ns-box .ns-thumb i {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block; }

.ns-type-success .ns-thumb {
  background-color: #34B5DC; }

.ns-type-warning .ns-thumb {
  background-color: #FFC107; }

.ns-type-error .ns-thumb {
  background-color: #CD4237; }

.ns-box.topright {
  top: 0;
  right: 0; }

.notification-shape {
  position: fixed;
  z-index: 1000; }
  .notification-shape svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.ns-effect-thumbslider {
  background: transparent; }

.ns-effect-thumbslider .ns-close {
  top: 1.8em;
  right: 1.8em; }

.ns-effect-thumbslider.ns-show .ns-box-inner {
  transition-timing-function: ease-in-out;
  -webkit-transition: width 400ms;
  -moz-transition: width 400ms;
  -ms-transition: width 400ms;
  -o-transition: width 400ms;
  transition: width 400ms; }

.ns-effect-thumbslider.ns-show .ns-close,
.ns-effect-thumbslider.ns-hide .ns-close,
.ns-effect-thumbslider.ns-show .ns-content p,
.ns-effect-thumbslider.ns-hide .ns-content p {
  -webkit-animation-name: animFade;
  animation-name: animFade;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 0; }

.ns-effect-thumbslider.ns-show .ns-close,
.ns-effect-thumbslider.ns-show .ns-content p {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.ns-effect-thumbslider.ns-hide .ns-close,
.ns-effect-thumbslider.ns-hide .ns-content p {
  -webkit-animation-direction: reverse;
  animation-direction: reverse; }

.ns-effect-thumbslider .ns-close::before,
.ns-effect-thumbslider .ns-close::after {
  background: #ddd;
  width: 2px; }

.ns-effect-thumbslider .ns-close:hover::before,
.ns-effect-thumbslider .ns-close:hover::after {
  background: #aaa; }

.ns-effect-thumbslider .ns-box-inner {
  overflow: hidden; }

.ns-effect-thumbslider .ns-thumb {
  position: absolute;
  z-index: 100;
  overflow: hidden; }

.ns-effect-thumbslider .ns-content {
  background: #fff;
  color: #727275;
  padding: 0 40px 0 80px;
  height: 50px;
  line-height: 50px; }

.ns-effect-thumbslider.ns-show .ns-content,
.ns-effect-thumbslider.ns-hide .ns-content {
  -webkit-animation-name: animSlide;
  animation-name: animSlide;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  animation-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.ns-effect-thumbslider.ns-show .ns-content {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.ns-effect-thumbslider.ns-hide .ns-content {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

@-webkit-keyframes animSlide {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0); } }
@keyframes animSlide {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.ns-effect-thumbslider.ns-show .ns-thumb,
.ns-effect-thumbslider.ns-hide .ns-thumb {
  -webkit-animation-name: animJelly;
  animation-name: animJelly;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.ns-effect-thumbslider.ns-hide .ns-thumb {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

@keyframes animJelly {
  0% {
    opacity: 0;
    -webkit-transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.083333% {
    -webkit-transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.75266, 0, 0, 0, 0, 0.76342, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.166667% {
    -webkit-transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.81071, 0, 0, 0, 0, 0.84545, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.25% {
    -webkit-transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.86808, 0, 0, 0, 0, 0.9286, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% {
    -webkit-transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.92038, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10.416667% {
    opacity: 1;
    -webkit-transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.96482, 0, 0, 0, 0, 1.05202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  12.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1.08204, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.583333% {
    -webkit-transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.02563, 0, 0, 0, 0, 1.09149, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% {
    -webkit-transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.04227, 0, 0, 0, 0, 1.08453, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.75% {
    -webkit-transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.05102, 0, 0, 0, 0, 1.06666, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.833333% {
    -webkit-transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.05334, 0, 0, 0, 0, 1.04355, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  22.916667% {
    -webkit-transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.05078, 0, 0, 0, 0, 1.02012, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% {
    -webkit-transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.04487, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.083333% {
    -webkit-transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.03699, 0, 0, 0, 0, 0.98534, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.166667% {
    -webkit-transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.02831, 0, 0, 0, 0, 0.97688, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.25% {
    -webkit-transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01973, 0, 0, 0, 0, 0.97422, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% {
    -webkit-transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.01191, 0, 0, 0, 0, 0.97618, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.416667% {
    -webkit-transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00526, 0, 0, 0, 0, 0.98122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  37.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.98773, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  39.583333% {
    -webkit-transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99617, 0, 0, 0, 0, 0.99433, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% {
    -webkit-transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99368, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.75% {
    -webkit-transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99237, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.833333% {
    -webkit-transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99202, 0, 0, 0, 0, 1.00651, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  47.916667% {
    -webkit-transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99241, 0, 0, 0, 0, 1.00726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% {
    -webkit-transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99329, 0, 0, 0, 0, 1.00671, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.083333% {
    -webkit-transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99447, 0, 0, 0, 0, 1.00529, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  54.166667% {
    -webkit-transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99577, 0, 0, 0, 0, 1.00346, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.25% {
    -webkit-transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99705, 0, 0, 0, 0, 1.0016, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% {
    -webkit-transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99822, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60.416667% {
    -webkit-transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99921, 0, 0, 0, 0, 0.99884, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  62.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 0.99816, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  64.583333% {
    -webkit-transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00057, 0, 0, 0, 0, 0.99795, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% {
    -webkit-transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00095, 0, 0, 0, 0, 0.99811, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.75% {
    -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70.833333% {
    -webkit-transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00119, 0, 0, 0, 0, 0.99903, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  72.916667% {
    -webkit-transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00114, 0, 0, 0, 0, 0.99955, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% {
    -webkit-transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  77.083333% {
    -webkit-transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00083, 0, 0, 0, 0, 1.00033, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  79.166667% {
    -webkit-transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00063, 0, 0, 0, 0, 1.00052, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.25% {
    -webkit-transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00044, 0, 0, 0, 0, 1.00058, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% {
    -webkit-transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00027, 0, 0, 0, 0, 1.00053, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.416667% {
    -webkit-transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1.00012, 0, 0, 0, 0, 1.00042, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  87.5% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1.00027, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  89.583333% {
    -webkit-transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99991, 0, 0, 0, 0, 1.00013, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% {
    -webkit-transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99986, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.75% {
    -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95.833333% {
    -webkit-transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99982, 0, 0, 0, 0, 0.99985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  97.916667% {
    -webkit-transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(0.99983, 0, 0, 0, 0, 0.99984, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
/* Creates a linear gradient between two colors */
/* Devuelve un color (claro u oscuro) dependiendo del fondo */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite; }

md-select-menu md-content {
  background: #435765; }
  md-select-menu md-content md-option {
    color: rgba(191, 191, 191, 0.87); }

md-card md-card-title {
  background-color: #3e5261;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17); }
  md-card md-card-title .md-headline {
    font-size: 17px; }
md-card md-card-title + md-card-content {
  padding-top: 16px !important; }

.md-list-item-inner,
md-select md-select-value .md-text,
md-input-container .md-input,
md-input-container label,
md-switch .md-label {
  font-size: 12px; }

md-checkbox,
md-checkbox .md-container,
md-checkbox .md-icon {
  width: 16px !important;
  height: 16px !important; }

md-checkbox {
  min-width: 16px !important;
  min-height: 16px !important; }

md-checkbox.md-checked .md-icon:after {
  left: 3px !important;
  top: -1px !important;
  -webkit-transform: rotate(45deg) scale(0.8) !important;
  transform: rotate(45deg) scale(0.8) !important; }

md-list-item .md-secondary-container {
  line-height: 16px; }

md-list-item, md-list-item .md-list-item-inner,
md-list-item .md-list-item-inner:before,
md-list-item:before {
  min-height: 40px !important; }

md-list-item .md-secondary-container button,
md-checkbox .md-button.md-icon-button {
  height: 33px !important;
  width: 33px !important; }

.panel-header md-toolbar,
.panel-header .md-toolbar-tools {
  height: 48px;
  min-height: 48px; }
.panel-header h2 {
  font-size: 15px !important; }

md-dialog.md-default-theme, md-dialog {
  background-color: #fff;
  color: #686868; }
  md-dialog.md-default-theme md-card-title, md-dialog md-card-title {
    flex: none !important; }
  md-dialog.md-default-theme .md-dialog-content, md-dialog .md-dialog-content {
    padding: 20px; }

.md-default-theme .md-calendar-day-header, .md-calendar-day-header {
  background: #65b3ff !important; }

.md-calendar-date.md-focus .md-default-theme .md-calendar-date-selection-indicator,
.md-calendar-date.md-focus .md-calendar-date-selection-indicator,
.md-default-theme .md-calendar-date-selection-indicator:hover,
.md-calendar-date-selection-indicator:hover {
  background: #34B5DC !important;
  color: #fff; }

.md-default-theme .md-datepicker-calendar,
.md-datepicker-calendar,
.md-calendar.md-default-theme,
.md-calendar {
  background: #fff !important; }

.md-calendar.md-default-theme tr:last-child td,
.md-calendar tr:last-child td {
  border-bottom-color: #b3b3b3; }

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-warn,
md-toolbar:not(.md-menu-toolbar).md-warn {
  background: #FFC107; }

md-dialog-actions.md-warn .md-button.md-default-theme.md-warn.md-fab,
md-dialog-actions.md-warn .md-button.md-warn.md-fab,
md-dialog-actions.md-warn .md-button.md-default-theme.md-warn.md-raised,
md-dialog-actions.md-warn .md-button.md-warn.md-raised {
  background-color: #FFC107; }

md-toolbar.md-default-theme:not(.md-menu-toolbar).md-error,
md-toolbar:not(.md-menu-toolbar).md-error {
  background: #CD4237; }

md-dialog-actions.md-error .md-button.md-default-theme.md-warn.md-fab,
md-dialog-actions.md-error .md-button.md-warn.md-fab,
md-dialog-actions.md-error .md-button.md-default-theme.md-warn.md-raised,
md-dialog-actions.md-error .md-button.md-warn.md-raised {
  background-color: #CD4237; }

md-select-menu.md-default-theme md-content md-option,
md-select-menu md-content md-option {
  color: rgba(189, 189, 189, 0.87); }

#toast-container .toast {
  border-radius: 0 !important;
  box-shadow: 0 0 10px #000 !important; }

body {
  background-color: #152027;
  color: #0D1E2B;
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none; }

.animsition {
  width: 100%; }

.flip-container .dark {
  background: #0D1E2B;
  padding: 40px 46px; }
.flip-container .light {
  background: #fff;
  padding: 10px; }
.flip-container .card {
  box-shadow: 0 0 25px #000; }
.flip-container .card {
  width: 480px; }
  @media (max-width: 500px) {
    .flip-container .card {
      width: 100%; } }

.green-bg {
  background-color: #21C200 !important;
  color: #fff !important; }

.red-bg {
  background-color: #CD4237 !important;
  color: #fff !important; }
  .red-bg md-icon {
    color: #fff !important; }

button {
  text-transform: none !important; }
  button md-icon {
    font-size: 22px !important; }

.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }
  .loading .logo {
    width: 78px;
    margin-bottom: 28px; }
  .loading .loader-circle {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto; }

.sidebar {
  -webkit-box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  transition-timing-function: ease-in-out;
  -webkit-transition: width 400ms;
  -moz-transition: width 400ms;
  -ms-transition: width 400ms;
  -o-transition: width 400ms;
  transition: width 400ms;
  width: 71px;
  background: #243541; }
  .sidebar .sidebar-header,
  .sidebar .sidebar-menu {
    width: 71px; }
  .sidebar .sidebar-header {
    background-color: #131b21;
    padding: 14px 19px; }
  .sidebar .sidebar-menu {
    height: 100%;
    background: #148FDC;
    /* Old browsers */
    background: -moz-linear-gradient(0deg, #148FDC 0%, #0D9497 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(0deg, #148FDC 0%, #0D9497 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(0deg, #148FDC 0%, #0D9497 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(0deg, #148FDC 0%, #0D9497 100%);
    /* IE10+ */
    background: linear-gradient(0deg, #0D9497 0%, #148FDC 100%);
    /* W3C */ }
  .sidebar .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #fff; }
    .sidebar .menu > li > a {
      transition-timing-function: ease-in-out;
      -webkit-transition: background-color 400ms;
      -moz-transition: background-color 400ms;
      -ms-transition: background-color 400ms;
      -o-transition: background-color 400ms;
      transition: background-color 400ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: border-right 200ms;
      -moz-transition: border-right 200ms;
      -ms-transition: border-right 200ms;
      -o-transition: border-right 200ms;
      transition: border-right 200ms;
      height: 63px;
      position: relative;
      z-index: 2; }
      .sidebar .menu > li > a > span {
        display: none; }
    .sidebar .menu > li > a:hover,
    .sidebar .menu > li.active > a {
      background-color: rgba(0, 0, 0, 0.25); }
    .sidebar .menu .submenu-panel > ul,
    .sidebar .menu .submenu-panel {
      position: absolute;
      width: 280px;
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      height: 100%;
      right: 0;
      z-index: 1; }
      .sidebar .menu .submenu-panel > ul > ol,
      .sidebar .menu .submenu-panel > ol {
        width: 352px; }
    .sidebar .menu .submenu-panel {
      transition-timing-function: ease-in-out;
      -webkit-transition: all 400ms;
      -moz-transition: all 400ms;
      -ms-transition: all 400ms;
      -o-transition: all 400ms;
      transition: all 400ms;
      opacity: 0;
      left: 71px;
      overflow: hidden;
      z-index: -1; }
      .sidebar .menu .submenu-panel > ul {
        transition-timing-function: ease-in-out;
        -webkit-transition: left 400ms;
        -moz-transition: left 400ms;
        -ms-transition: left 400ms;
        -o-transition: left 400ms;
        transition: left 400ms;
        list-style: none;
        left: -71px; }
    .sidebar .menu > li.active > a {
      border-right: 5px solid rgba(255, 255, 255, 0.39); }
    .sidebar .menu > li.active .submenu-panel {
      opacity: 1;
      width: 280px;
      z-index: 78; }
      .sidebar .menu > li.active .submenu-panel > ul {
        left: 0; }
    .sidebar .menu .submenu-title,
    .sidebar .menu .submenu-menu {
      margin: 20px; }
    .sidebar .menu .submenu-title {
      text-transform: uppercase;
      padding: 8px 0;
      border-bottom: 3px solid rgba(255, 255, 255, 0.28);
      margin-top: 35px;
      margin-bottom: 0; }
    .sidebar .menu .submenu-menu {
      margin-top: 0;
      margin-left: 25px;
      margin-right: 0;
      height: calc(100% - 73px); }
      .sidebar .menu .submenu-menu > div {
        overflow: auto;
        height: 100%;
        padding-right: 31px;
        padding-left: 5px; }
        .sidebar .menu .submenu-menu > div > ol {
          margin-bottom: 20px; }
      .sidebar .menu .submenu-menu a {
        color: inherit;
        background-color: rgba(0, 0, 0, 0.25);
        padding: 10px 12px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        font-weight: 100;
        font-size: 12px;
        margin-left: 10px;
        margin-top: 8px; }
  .sidebar .logout {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 25px;
    padding: 13px; }

body.open .sidebar {
  width: 352px; }

.tree,
.tree ol {
  margin: 0 0 0 1em;
  /* indentation */
  padding: 0 !important;
  list-style: none;
  position: relative; }

.tree ol {
  margin-left: 20px; }

/* (indentation/2) */
.tree:before,
.tree ol:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.28); }

.tree li {
  margin: 0;
  font-weight: bold;
  position: relative; }

.tree li:before,
.tree li:after {
  content: "";
  display: block;
  position: absolute; }

.tree li:before {
  width: 10px;
  /* same with indentation */
  height: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.28);
  margin-top: -1px;
  /* border top width */
  top: 28px;
  /* (line-height/2) */
  left: 0; }

.tree li:after {
  width: 3px;
  height: 3px;
  border: 1px solid rgba(255, 255, 255, 0.28);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  margin-top: -1px;
  /* border top width */
  top: 26px;
  left: -2px;
  background: #243541; }

.tree li:last-child:before {
  background: #243541;
  /* same with body background */
  height: auto;
  top: 28px;
  /* (line-height/2) */
  bottom: 0; }

md-input-container label,
md-input-container input {
  transition-timing-function: ease-in-out;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms; }

[dnd-list], [dnd-list] > * {
  position: relative;
  min-height: 100px; }

.dndPlaceholder {
  background-color: #242424;
  min-height: 100px;
  min-width: 20px;
  border: 1px dashed #333;
  margin: 0 10px;
  display: block;
  position: relative; }

.angular-ui-tree-empty {
  display: none; }

.columns {
  flex-wrap: wrap; }

.dndDraggingSource {
  display: none; }

.dndDraggingSource {
  display: none; }

.search md-content {
  padding-bottom: 0;
  padding-top: 0; }
.search md-input-container {
  margin-bottom: 0; }

.panel-tools {
  transition-timing-function: ease-in-out;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  height: 80px; }
  .panel-tools .tools {
    animation: slideInUp 200ms; }
  .panel-tools md-content {
    overflow: hidden; }

.config {
  overflow: hidden;
  transition-timing-function: ease-in-out;
  -webkit-transition: height 200ms;
  -moz-transition: height 200ms;
  -ms-transition: height 200ms;
  -o-transition: height 200ms;
  transition: height 200ms;
  -webkit-box-shadow: inset 0 8px 8px -8px #000;
  -moz-box-shadow: inset 0 8px 8px -8px #000;
  box-shadow: inset 0 8px 8px -8px #000;
  background: #2f2f2f; }

.panel-tools.ng-hide {
  height: 0; }
  .panel-tools.ng-hide .tools {
    animation: slideOutDown 200ms; }

.node {
  transition-timing-function: ease-in-out;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  display: flex; }
  .node [ui-tree-handle] {
    display: flex;
    width: 35px;
    align-items: center;
    justify-content: center; }

#pages .node [ui-tree-handle] {
  display: none; }
#pages .node i {
  margin-right: 11px; }
#pages .node.no-content {
  color: #b1b1b1;
  cursor: not-allowed; }

#layout .node [ui-tree-handle] {
  margin-left: 10px;
  margin-top: 8px;
  background: #000;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px; }
#layout .node > a {
  margin-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }
#layout .node .delete {
  background: #CD4237;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0; }

.main-content {
  padding: 15px;
  position: relative;
  z-index: 3; }

#windows {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
  height: 100%; }
  #windows .panel {
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.76);
    min-width: 350px;
    margin-right: 10px;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    transition-timing-function: ease-in-out;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -ms-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 100%; }
    #windows .panel > md-toolbar {
      border-bottom: 5px solid; }
  #windows [app-view-segment].ng-leave {
    display: none;
    position: absolute; }
  #windows md-backdrop {
    opacity: 1; }
  #windows md-list-item {
    width: 100%; }
    #windows md-list-item .item-name {
      display: flex;
      justify-content: flex-start;
      line-height: 17px;
      padding: 8px 0; }
      #windows md-list-item .item-name md-icon {
        margin: 0 14px 0 0; }

.panel .angular-ui-tree-placeholder {
  background-color: #212121; }

.panel {
  position: relative;
  display: flex;
  flex-direction: column; }
  .panel .md-panel {
    background-color: #212121; }
  .panel [ui-tree-handle] {
    margin-left: 15px; }

panel-dispose button {
  margin-right: -8px !important; }

.panel-loading-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex; }

.panel-body {
  height: 100%;
  overflow: auto; }

.panel-footer a {
  display: block; }
.panel-footer .md-toolbar-tools,
.panel-footer md-toolbar {
  height: 48px;
  min-height: 48px; }
.panel-footer md-toolbar {
  background-color: #1b242b; }

.panel.small-width {
  width: 350px; }

.panel.medium-width {
  width: 650px; }

.panel.large-width {
  width: 100%;
  max-width: 1350px; }

md-grid-list {
  height: 100%; }

.table-condensed > thead > tr > th {
  padding: 0 13px 4px 13px; }

.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th {
  padding: 8px 13px 0; }

.table > tbody > tr > td:first-child, .table > tbody > tr > th:first-child,
.table > thead > tr > th:first-child, .table > tfoot > tr > th:first-child {
  padding-left: 11px; }

.table > tbody > tr > td:last-child, .table > tbody > tr > th:last-child,
.table > thead > tr > th:last-child, .table > tfoot > tr > th:last-child {
  padding-right: 11px; }

md-dialog-content .icon {
  text-align: center;
  margin: -24px -24px 0; }
  md-dialog-content .icon i {
    font-size: 103px; }

.keep-one md-list > li:first-child {
  background: #404040; }
  .keep-one md-list > li:first-child .delete {
    display: none; }

[dnd-list="rows"] > * {
  border: 1px solid #333; }

.column {
  min-height: 100px;
  border: 1px dashed #fff; }

/**
 * Layout responsive grid
 */
[class*="col-"] {
  position: relative;
  box-sizing: border-box;
  float: left;
  padding: 4px;
  width: 100%; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.offset-0 {
  margin-left: 0; }

.push-0 {
  left: 0; }

.pull-0 {
  left: 0; }

.offset-1 {
  margin-left: 8.33%; }

.offset-2 {
  margin-left: 16.66%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.33%; }

.offset-5 {
  margin-left: 41.66%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.33%; }

.offset-8 {
  margin-left: 66.66%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.33%; }

.offset-11 {
  margin-left: 91.66%; }

.offset-12 {
  margin-left: 100%; }

.push-1 {
  left: 8.33%; }

.push-2 {
  left: 16.66%; }

.push-3 {
  left: 25%; }

.push-4 {
  left: 33.33%; }

.push-5 {
  left: 41.66%; }

.push-6 {
  left: 50%; }

.push-7 {
  left: 58.33%; }

.push-8 {
  left: 66.66%; }

.push-9 {
  left: 75%; }

.push-10 {
  left: 83.33%; }

.push-11 {
  left: 91.66%; }

.push-12 {
  left: 100%; }

.pull-1 {
  left: -8.33%; }

.pull-2 {
  left: -16.66%; }

.pull-3 {
  left: -25%; }

.pull-4 {
  left: -33.33%; }

.pull-5 {
  left: -41.66%; }

.pull-6 {
  left: -50%; }

.pull-7 {
  left: -58.33%; }

.pull-8 {
  left: -66.66%; }

.pull-9 {
  left: -75%; }

.pull-10 {
  left: -83.33%; }

.pull-11 {
  left: -91.66%; }

.pull-12 {
  left: -100%; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.crop-background {
  background: -webkit-linear-gradient(45deg, rgba(27, 27, 27, 0.09) 25%, transparent 25%, transparent 75%, rgba(27, 27, 27, 0.09) 75%, rgba(27, 27, 27, 0.09) 0), -webkit-linear-gradient(45deg, rgba(27, 27, 27, 0.09) 25%, transparent 25%, transparent 75%, rgba(27, 27, 27, 0.09) 75%, rgba(27, 27, 27, 0.09) 0), #737373;
  background: -moz-linear-gradient(45deg, rgba(27, 27, 27, 0.09) 25%, transparent 25%, transparent 75%, rgba(27, 27, 27, 0.09) 75%, rgba(27, 27, 27, 0.09) 0), -moz-linear-gradient(45deg, rgba(27, 27, 27, 0.09) 25%, transparent 25%, transparent 75%, rgba(27, 27, 27, 0.09) 75%, rgba(27, 27, 27, 0.09) 0), #737373;
  background: linear-gradient(45deg, rgba(27, 27, 27, 0.09) 25%, transparent 25%, transparent 75%, rgba(27, 27, 27, 0.09) 75%, rgba(27, 27, 27, 0.09) 0), linear-gradient(45deg, rgba(27, 27, 27, 0.09) 25%, transparent 25%, transparent 75%, rgba(27, 27, 27, 0.09) 75%, rgba(27, 27, 27, 0.09) 0), #737373;
  background-repeat: repeat, repeat;
  background-position: 0 0, 20px 20px;
  -webkit-background-origin: padding-box, padding-box;
  background-origin: padding-box, padding-box;
  -webkit-background-clip: border-box, border-box;
  background-clip: border-box, border-box;
  -webkit-background-size: 40px 40px, 40px 40px;
  background-size: 40px 40px, 40px 40px;
  -webkit-box-shadow: none;
  width: 100%;
  height: 450px;
  overflow: hidden; }

.hide-off-screen {
  position: absolute;
  left: -200%; }

.text-dark {
  color: black; }

.text-light {
  color: white; }

md-dialog.fullscreen-dialog {
  max-width: 97%;
  max-height: 95%;
  width: 100%;
  height: 100%;
  border-radius: 0; }

md-tooltip.main-menu {
  background-color: #000 !important;
  padding: 11px 24px;
  font-size: 12px;
  overflow: visible;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

md-tooltip:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #000;
  position: absolute;
  left: -8px;
  top: 50%;
  margin-top: -8px; }

md-dialog.md-default-theme md-toolbar i, md-dialog md-toolbar i {
  font-size: 35px; }
md-dialog.md-default-theme .md-dialog-content, md-dialog .md-dialog-content {
  font-size: 14px; }
  md-dialog.md-default-theme .md-dialog-content h1, md-dialog .md-dialog-content h1 {
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Julius Sans One', sans-serif;
    text-align: center;
    margin: 0 0 6px;
    font-size: 20px; }

[perfect-scrollbar] {
  overflow-y: hidden;
  position: relative; }

widget .md-panel {
  position: absolute;
  width: 100%; }
widget md-card {
  position: relative; }

#layout {
  margin: 0; }
  #layout md-toolbar,
  #layout .md-toolbar-tools {
    height: 40px;
    min-height: 40px; }
  #layout md-card-content {
    padding: 8px; }
  #layout h2 {
    font-size: 14px;
    font-family: 'Raleway', sans-serif; }
  #layout .angular-ui-tree-placeholder {
    top: 4px;
    left: 10px;
    border: 1px dashed #009cff;
    background: #152027;
    border-radius: 3px; }
  #layout .angular-ui-tree-placeholder:before {
    top: 16px;
    left: -11px; }
  #layout .angular-ui-tree-placeholder:after {
    top: 14px;
    left: -13px; }

.crop-status i {
  vertical-align: bottom; }

.md-success-text {
  color: #34B5DC; }

.md-warn-text {
  color: #FFC107; }

/*# sourceMappingURL=admin.css.map */
